# Ignore all
*

# Avoid ignoring directory
!*/

# Avoid ignoring some suffix
!*.gradle
!*.java
!*.png
!*.xml

# Avoid ignoring default file
!.gitignore
!LICENSE
!README.md

# Ignore some directory
.*/
gradle/
target/
