# Ignore all
*

# Avoid ignoring directory
!*/

# Avoid ignoring some suffix
!*.gradle
!*.java
!*.json
!*.png
!*.xml

# Avoid ignoring default file
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!build.cmd
!LICENSE
!README.md
!README.zh-CN.md

# Ignore some directory
.*/
gradle/
target/
